#################################
# folder
#################################
prebuilts/*

#################################
# files
#################################
build/android-profile/
idea/
build/
